
{{> post-info post }}


<!--only if logged in display the comment form -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<!--imports the comments partial -->
{{> comments post.comments}}

<!--only if logged in load the comment.js file -->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}